@if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-controller="Account" asp-action="Logout">@Context.User.Identity.Name - Logout</a>
    </li>
    <li>
        <a class="nav-link text-capitalize" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}
else if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-controller="Account" asp-action="Logout">@Context.User.Identity.Name - Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}