@model ProductDTO

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <partial name="Partials/_DetailsDelete" for="@Model"/>
    <div>
        <a asp-action="Edit" asp-route-id="Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index">Back</a>
    </div>
</div>